@charset "utf-8";
/* CSS Document */
aside {
  padding-bottom: 20px;
  background-color: #fff;
  border-right: solid thin #ddd;
  min-width: 320px;
  min-height: 685px;
  position: static;
}

aside section.account {
  padding: 20px 15px 10px;
  font-size: 12px;
  /* background-color: red; */
}
aside section.account .thumb {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: contain;

  margin-right: 10px;
  background-image: url("../img/avatar.png");
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 1px 2px #555;
}
aside section.account .name {
  text-transform: capitalize;
  font-weight: bold;
}
aside section.account .bulb {
  margin: 4px 2px 0 0;
  background-color: #16bc00;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  float: right;
}
aside section.account .username {
  color: #999;
}
aside section.account a {
  float: right;
  cursor: pointer;
  display: inline-block;
}

aside section.menu .divide {
  padding: 15px 15px;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
aside section.menu ul li {
  display: block;
}
aside section.menu ul li a {
  color: #555;
  padding: 12px 15px;
  font-size: 13px;
  border-top: solid thin transparent;
  border-bottom: solid thin transparent;
  display: block;
  -webkit-transition: background-color 0.2s; /* Safari */
  transition: background-color 0.2s;
}
aside section.menu ul li a:hover {
  background-color: #eee;
  border-top: solid thin;
  border-bottom: solid thin;
}
aside section.menu ul li a.selected {
  color: #fff;
  border-top: solid thin #111;
  border-bottom: solid thin #111;
}

aside section.menu ul li i {
  font-size: 14px;
  float: left;
  margin: 2px 15px 0 0;
}
aside section.menu ul li var {
  padding: 3px 8px;
  background-color: #e11;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  border-radius: 25px;
  float: righ;
}
aside section.menu ul li img {
  margin-bottom: -5px;
  width: 16px;
}
