@charset "utf-8";
/* CSS Document */
form.tmp-form {
  padding: 25px 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #ddd;
}
form.tmp-form fieldset {
  border: none;
}
form.tmp-form legend {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 100%;
}

form.tmp-form label {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  display: block;
}
form.tmp-form input,
form.tmp-form select,
form.tmp-form textarea {
  padding: 10px 15px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border: solid thin #555;
  display: block;
}
form.tmp-form textarea {
  font-size: 14px;
}
form.tmp-form select[multiple] {
  height: 38px;
  vertical-align: bottom;
}
form.tmp-form-login input {
  padding: 10px 0;
  margin: 0;
  border: none;
  border-bottom: solid thin #ccc;
}
form.tmp-form-login input:focus {
  background-color: transparent;
}
form.tmp-form input:focus,
form.tmp-form select:focus,
form.tmp-form textarea:focus {
  border-color: #111;
}

form.tmp-form button {
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #777;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  border: solid thin#555;
}
form.tmp-form button.pri {
  background-color: #0993dd;
  border-color: #007bb8;
}
form.tmp-form button:hover {
  filter: brightness(95%);
}
form.tmp-form-login button {
  padding: 14px 0;
  width: 100%;
}

form.tmp-form label x {
  color: #e11;
}
form.tmp-form label var {
  padding-right: 10px;
  color: blue;
  font-size: 14px;
  font-weight: normal;
  float: right;
}
form.tmp-form .info {
  padding: 10px 15px;
  margin: 0;
  background-color: #cce5ff;
  color: #004085;
  text-align: left;
  font-size: 13px;
  box-shadow: 0 1px 2px #999;
  display: block;
}
form.tmp-form .action {
  margin-top: 20px;
  text-align: right;
  border-top: solid thin #555;
}

form.tmp-form-toolbar {
  padding: 0;
  margin: 20px 0 10px;
  background-color: transparent;
  box-shadow: none;
}
form.tmp-form-toolbar input,
form.tmp-form-toolbar select,
form.tmp-form-toolbar button {
  background-color: #fff;
  margin-top: 0;
  display: inline-block;
}
form.tmp-form-toolbar input:focus,
form.tmp-form-toolbar select:focus,
form.tmp-form-toolbar button:focus {
  background-color: #ffc;
}

form.tmp-report fieldset {
  ackground-color: #fff;
}
form.tmp-report fieldset {
  text-align: right;
}
form.tmp-report legend {
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
}
form.tmp-report label {
  font-size: 12px;
  margin: 0 10px;
  font-weight: bold;
}
form.tmp-report select {
  background-color: transparent;
  padding: 7px 20px;
  width: auto;
  border: none;
  border: solid thin #555;
  display: inline-block;
}
form.tmp-report select:focus {
  border-color: #111;
}
form.tmp-report .action {
  margin-left: 10px;
  display: inline-block;
}
form.tmp-report button {
  margin-right: 10px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border: solid thin;
}
form.tmp-report button.pri {
  background-color: #0993dd;
  border-color: #007bb8;
}
form.tmp-report button.sec {
  background-color: #777;
  border-color: #555;
}
form.tmp-report button:hover {
  filter: brightness(95%);
}

table.tmp-report tr.tfoot th,
table.tmp-report tr.tfoot td {
  color: #069;
  font-weight: bold;  
  border-top: dotted #ccc;
  border-bottom: solid #ccc;
}
table.tmp-report tr.tfoot th {
  text-align: right;
  text-transform: uppercase;
}
table.tmp-report tr.tfoot td {  
  text-decoration:underline;
}
